@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'animations/activated';
@import 'animations/attacking';
@import 'animations/death';
@import 'animations/shake';

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-VariableFont_wght') format('ttf');
}

html {
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --color-primary: #6d6ab1;
    --color-background: #262425;
    --color-surface: #1c1c1c;

    --color-text: #d3d3d3;
    --color-border: #3a3a3a;

    --color-error: #b20909;
}

.graahk-card p {
    &::-webkit-scrollbar { width: 5px; }
    &::-webkit-scrollbar-track { background: #f1f1f1; }
    &::-webkit-scrollbar-thumb { background: #888; }
    &::-webkit-scrollbar-thumb:hover { background: #555; }
}
