.animate-circle-explosion {
    &.purple::after {
        background: radial-gradient(
            circle,
            rgba(0,0,0,0) 27%,
            rgba(255,0,219,0.8) 45%,
            rgba(0,0,0,0) 46%,
            rgba(0,0,0,0) 50%
        );
    }

    &.yellow::after {
        background: radial-gradient(
            circle,
            rgba(0,0,0,0) 27%,
            rgba(255,255,0,0.8) 45%,
            rgba(0,0,0,0) 46%,
            rgba(0,0,0,0) 50%
        );
    }

    &.blue::after {
        background: radial-gradient(
            circle,
            rgba(0,0,0,0) 27%,
            rgba(0,255,255,0.8) 45%,
            rgba(0,0,0,0) 46%,
            rgba(0,0,0,0) 50%
        );
    }

    &.red::after {
        background: radial-gradient(
            circle,
            rgba(0,0,0,0) 27%,
            rgba(210, 20, 20, 0.8) 45%,
            rgba(0,0,0,0) 46%,
            rgba(0,0,0,0) 50%
        );
    }

    &.gray::after {
        background: radial-gradient(
            circle,
            rgba(0,0,0,0) 27%,
            rgba(115, 114, 111, 0.2) 45%,
            rgba(0,0,0,0) 46%,
            rgba(0,0,0,0) 50%
        );
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 1px;

        animation: circle-explosion .6s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// Glow
@keyframes circle-explosion {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1920 * 2);
    }
}
