.new-turn-animation {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    margin-top: calc(50vh - 200px);

    .whee {
        position: absolute;
        width: 0;
        height: 250px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100000;

        animation-name: whee;
        animation-duration: 1.4s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }

    h1 {
        text-align: center;
        text-shadow: 0 0 3px #000000, 0 0 5px #000000;
        font-size: 5rem;
        color: white;
        padding-top: 80px;
        position: relative;
        z-index: 100001;
        opacity: 0;

        animation-name: whee_text;
        animation-duration: 1.4s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
}

@keyframes whee {
    0% { width: 20%; margin-left: -20%; }
    25% { width: 20%; margin-left: 0%; }
    50% { width: 50%; margin-left: 25%; }
    75% { width: 20%; margin-left: 80%; }
    100% { width: 20%; margin-left: 100%; }
}

@keyframes whee_text {
    0% { font-size: 0; opacity: 0; padding-top: 125px; }
    10% { opacity: 1; }
    50% { font-size: 5rem; padding-top: 80px; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
