@for $i from 0 through 20 {
    .animate-shake-#{$i * 50} {
        animation: shake-#{$i * 50} 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    @keyframes shake-#{$i * 50} {
        0%   { transform: translate(#{$i * 1}px, #{$i * 1}px) rotate(0deg); }
        10%  { transform: translate(#{$i * -1}px, #{$i * -2}px) rotate(-1deg); }
        20%  { transform: translate(#{$i * -3}px, #{$i * 0}px) rotate(1deg); }
        30%  { transform: translate(#{$i * 3}px, #{$i * 2}px) rotate(0deg); }
        40%  { transform: translate(#{$i * 1}px, #{$i * -1}px) rotate(1deg); }
        50%  { transform: translate(#{$i * -1}px, #{$i * 2}px) rotate(-1deg); }
        60%  { transform: translate(#{$i * -3}px, #{$i * 1}px) rotate(0deg); }
        70%  { transform: translate(#{$i * 3}px, #{$i * 1}px) rotate(-1deg); }
        80%  { transform: translate(#{$i * -1}px, #{$i * -1}px) rotate(1deg); }
        90%  { transform: translate(#{$i * 1}px, #{$i * 2}px) rotate(0deg); }
        100% { transform: translate(#{$i * 1}px, #{$i * -2}px) rotate(-1deg); }
    }
}
